* {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    height: 450px;
    display: flex;
}

.article-details {
    background-color: rgb(88, 149, 241);
    width: 34%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.info-small {
    margin-top: 40px;
}

a {
    font-size: 13px;
    color: white;
    text-transform: lowercase;
    display: block;
}

.form {
    border: solid 1px rgb(201, 197, 197);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 66%;
    padding-top: 30px;
}

.form-body {
    display: block;
    justify-content: space-between;
    justify-content: center;
}

form h2 {
    margin-left: 50px;
}

form p label {
    font-size: 14px;
    margin-left: 50px;
}

form p input {
    width: 80%;
    border: 0;
    border-bottom: solid 1px rgb(211, 207, 207);
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
}

form p textarea {
    width: 80%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 0;
    border-bottom: solid 1px rgb(211, 207, 207);
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
}

button {
    background-color: rgb(88, 149, 241);
    font-size: 13px;
    color: white;
    border: 0;
    border-radius: 15px;
    width: 30%;
    height: 33px;
    outline: none;
}